body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
#nav-container {
  /* border: 1px solid rgb(255, 0, 0); */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.815);
}
.logo {
  /* margin: 10px 0px; */
  cursor: pointer;
}
.logo img {
  width: 140px;
  height: 100px;
  /* padding: px 0px; */
}
ul {
  display: flex;
  flex: 1;
  max-width: 55%;
  /* border: 1px white solid; */
  justify-content: space-evenly;
  list-style: none;
}
ul li a {
  list-style: none;
  text-decoration: none;
  color: white;
  font-weight: lighter;
  font-size: 1.5rem;
  /* border: 1px solid white; */
  padding: 5px 1px;
  /* margin: 5px 10px; */
  margin-right: 7px;
}
ul li a:hover {
  border-bottom: 1px solid rgba(128, 128, 128, 0.897);
  /* box-shadow: 0px 5px 5px rgb(255, 253, 253); */
  /* text-decoration: underline rgba(0, 0, 0, 0.76); */
}
#signin a {
  background-color: white;
  color: black;
  border-radius: 25px;
  padding: 5px 15px;
}
#signin a:hover {
  background-color: black;
  border: 0px solid white;
  color: white;
}
.main-page {
  background-image: url(pics/main-pic.jpg);
  background-size: 100%;
  background-position: center center;
  display: flex;
  height: 85vh;
  /* background: center center no-repeat; */
  justify-content: right;
  align-items: center;
  /* border: 1px solid rgb(255, 0, 0); */
  /* background: ; */
  /* opacity: 0.9; */
}
.main-context {
  /* border: 1px solid white; */
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: center;
  font-size: 1.5rem;
  color: white;
  /* text-align: center; */
  background-color: rgba(0, 0, 0, 0.349);
}
.main-heading {
  display: flex;
  height: 100%;
  width: 100%;
  /* text-align: center; */
  justify-content: right;
  /* border: 1px solid red; */
  margin: 5px 0px;
  /* margin-left: 100px; */
  margin-right: 180px;
  font-size: 3.5rem;
}
.main-para {
  color: black;
  background: rgba(255, 255, 255, 0.685);
  font-size: 1.5rem;
  font-weight: normal;
  /* border: 1px solid black; */
  width: 100%;
  height: 100%;
  text-align: center;
  word-spacing: 3px;
}
#book-now {
  font-size: 1.5rem;
  padding: 4px 35px;
  margin-bottom: 15px;
  /* border: 1px solid rgb(53, 104, 182); */
  border: none;
  font-weight: lighter;
  border-radius: 7px;
  background-color: #1595e58f;
  color: black;
}
#book-now:hover {
  cursor: pointer;
  color: white;
  border-bottom: 1.3px solid rgba(0, 0, 0, 0.822);
}
.page1 {
  background-color: black;
}
.heading2 {
  /* display: inline; */
  text-align: center;
  font-size: 2.5rem;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.863);
  /* width: 25%; */
  margin: 20px auto;
  border: 1px solid rgba(0, 0, 0, 0.37);
  color: white;
  /* border: 1px solid white; */
}
.second-pictures {
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(0, 0, 0, 0.842);
}
.page1pic {
  height: 500px;
  width: 420px;
  margin: 5px auto;
  border: 1px solid rgba(255, 255, 255, 0.836);
  box-shadow: 1px 1px 5px;
  transition: all 1s;
}
.page1pic:hover {
  transform: scale(0.9);
  box-shadow: 3px px 5px white;
}
